.listeCours {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 2%;

	@include media (mobile) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin: 2%;
    }

    @include media (tablet) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        margin: 2%;
    }

    @include media (desktop) {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        margin: 2%;
    }

    @include media (wide) {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 10px;
        margin: 2%;
    }
    
  }

  
