article{
    background-color: rgba(235, 252, 235, 0.479);
}

.entry-content{
    background-color: rgb(253, 245, 232);
    border-left: 2px solid paleturquoise;
    border-radius: 0px 50px 0px 50px;
}
.entry-content:hover{
    background-color: rgba(253, 245, 232, 0.555);
    border-left: 2px solid palegreen;
    border-radius: 50px 0px 50px 0px;
}

.entry-title{
    color: palevioletred;
    font-size: 2rem;
    font-style: italic;
    border-bottom: 2px solid paleturquoise;
}

